{{#partial "form"}}

<form class="grid grid-cols-2" method="POST" action="/home">

  <div class="mr-5">

    {{> form_field.hbs id="type" name = "type" label="Clase" type = "text" error = error }}
    {{> form_field.hbs id="name" name = "name" label="Nombre" type = "text" error = error }}
    {{> form_field.hbs id="nick" name = "nick" label="Apodo" type = "text" error = error }}

  </div>
  <div>
    {{> form_field.hbs id="age" name = "age" label="Edad" type = "number" error = error }}
    {{> form_field.hbs id="gender" name = "gender" label = "Sexo" type = "text" error = error }}
    {{> form_field.hbs id="size" name = "gender" label = "Tamaño" type = "text" error = error}}
  </div>

  <div class="col-span-2">
    {{> form_field.hbs id="desc" name="desc" label = "Descripción Física" type = "text" error = error}}
  </div>

  <div class="mr-5">
    {{#each characteristicsEven}}
    {{> form_field.hbs id= nombre name = nombre label=nombre type = "text" error = error }}
    {{/each}}
  </div>

  <div>
    {{#each characteristicsOdd}}
    {{> form_field.hbs id= nombre name = nombre label=nombre type = "text" error = error }}
    {{/each}}
  </div>


  <!-- https://tailwindcomponents.com/component/tailwind-file-upload-->
  <div class="col-span-2 flex items-center justify-center bg-grey-lighter mb-4">
    <label
      class="w-64 flex flex-col items-center px-4 py-6 bg-white text-purple-600 rounded-lg shadow-lg tracking-wide uppercase border border-purple-200 cursor-pointer hover:bg-purple-600 hover:text-white">
      <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
        <path
          d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
      </svg>
      <span class="mt-2 text-base leading-normal">Selecciona un Archivo</span>
      <input type='file' class="hidden" />
    </label>
  </div>

  <div class="col-span-2">
    <button
      class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
      type="submit">Finalizar
    </button>
  </div>
</form>
{{/partial}}

{{#partial "footer"}}
{{/partial}}


{{> form_layout.hbs title = "Registrar una Mascota" large = true}}