{{#partial "form"}}

<form class="grid grid-cols-2" method="POST" action="/home">

  <div class="mr-5">

    {{> form_field.hbs id="type" name = "type" label="Clase" type = "text" error = error }}
    {{> form_field.hbs id="name" name = "name" label="Nombre" type = "text" error = error }}
    {{> form_field.hbs id="nick" name = "nick" label="Apodo" type = "text" error = error }}

  </div>
  <div>
    {{> form_field.hbs id="age" name = "age" label="Edad" type = "number" error = error }}
    {{> form_field.hbs id="gender" name = "gender" label = "Sexo" type = "text" error = error }}
    {{> form_field.hbs id="size" name = "gender" label = "Tamaño" type = "text" error = error}}
  </div>

  <div class="col-span-2">
    {{> form_field.hbs id="desc" name="desc" label = "Descripción Física" type = "text" error = error}}
  </div>

  <div class="mr-5">
    {{#each characteristicsEven}}
    {{> form_field.hbs id= nombre name = nombre label=nombre type = "text" error = error }}
    {{/each}}
  </div>

  <div>
    {{#each characteristicsOdd}}
    {{> form_field.hbs id= nombre name = nombre label=nombre type = "text" error = error }}
    {{/each}}
  </div>


  {{> upload_photo.hbs}}

  <div class="col-span-2">
    <button
      class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200"
      type="submit">Finalizar
    </button>
  </div>
</form>
{{/partial}}

{{#partial "footer"}}
{{/partial}}


{{> form_layout.hbs title = "Registrar una Mascota" large = true header = "¡Quiero registrar a mi Mascota!"}}