  <footer class="max-w-lg mx-auto flex justify-center text-white">
    <a href="#" class="hover:underline">Contacto</a>
    <span class="mx-3">•</span>
    <a href="#" class="hover:underline">Privacidad</a>
  </footer>