<div class="max-w-sm">
  <label class="inline-flex items-center">
    <input type="checkbox" class="m-2 rounded border-gray-300 text-purple-600 shadow-sm focus:border-purple-300 w-4 h-4"
      name="{{name}}" />
    {{name}}
  </label>
</div>