{{#partial "form" }}

<form class="flex flex-col" method="POST" action="/login">

          {{> form_field.hbs id="username" name = "username" label="Usuario" type = "text" error = error }}

          {{> form_field.hbs id="password" name = "password" label="Contraseña" type = "password" error = error }}

          {{#if error}}
            <p class="text-red-500 text-xs italic">Usuario o contraseña incorrecta</p>
          {{/if}}

          <div class="flex justify-end">
            <a href="#" class="text-sm text-purple-600 hover:text-purple-700 hover:underline mb-6">¿Olvidaste tu
              contraseña?</a>
          </div>

          {{>button.hbs button_name = "Iniciar Sesión"}}
        </form>

{{/partial}}

{{#partial "footer"}}

<div class="max-w-lg mx-auto text-center mt-12 mb-6">
      <p class="text-white">¿No tienes una cuenta? <a href="/signup/step1" class="font-bold hover:underline">Registrarse</a>.</p>
    </div>
{{/partial}}

{{> form_layout.hbs title = "Iniciar Sesión" large = false header = "¡Bienvenido!"}}




