{{#partial "footer"}}
<div class="max-w-lg mx-auto text-center mt-12 mb-6">
  <p class="text-white">¿Ya tienes una cuenta? <a href="/login" class="font-bold hover:underline">Iniciar Sesión</a>.
  </p>
</div>
{{/partial}}

{{> person_signup.hbs action = "/usuarios/registrar/paso2" header = "¡Bienvenido!"}}