<!-- https://tailwindcomponents.com/component/tailwind-file-upload-->
<div class="mb-6 pt-3 rounded col-span-2">
  <h2 class="text-lg font-medium text-black">Fotos de la Mascota</h2>
</div>

<div class="my-5">
    <label class="text-sm font-medium text-gray-900 block mb-2" for="imagen_mascota">Subir imagenes</label>
    <input class="block w-full cursor-pointer bg-gray-50 border border-gray-300 text-gray-900 focus:outline-none focus:border-transparent text-sm rounded-lg" id="imagen_mascota" name="{{ name }}" type="file" multiple accept="image/*">
</div>
