{{#partial "address"}}

<div class="col-span-2">
  {{> form_field.hbs id="address" name="address" label = "Domicilio" type = "text" error = error}}
</div>

{{/partial}}

{{#partial "more_fields"}}

  <div id="formDatosRescate" class="mr-5">
    <div class="mb-6 pt-3 rounded">
      <h2 class="text-lg font-medium text-black">Datos de la Mascota</h2>
    </div>

    {{> form_field.hbs id="class" name = "class" label="Clase" type = "text" error = error }}
    {{> form_field.hbs id="size" name = "size" label="Tamaño" type = "text" error = error }}
  </div>

  <div id="formDatosContacto">
    <div class="mb-6 pt-3 rounded">
      <h2 class="text-lg font-medium text-black">Datos del Rescate</h2>
    </div>

    {{> form_field.hbs id="res_date" name = "res_date" label="Fecha del Rescate" type = "date" error = error }}
    {{> form_field.hbs id="res_loc" name = "res_loc" label="Ubicación del rescate" type = "text" error = error}}

  </div>

  <div class="col-span-2">
    {{> form_field.hbs id="desc" name = "desc" label="Descripción con la que fue encontrada" type = "text" error = error
    }}
  </div>

  <div class="mb-6 pt-3 rounded col-span-2">
    <h2 class="text-lg font-medium text-black">Características</h2>
  </div>

  <div class="mr-5">
    {{#each characteristicsEven}}
    {{> form_checkbox.hbs name = nombre}}
    {{/each}}
  </div>

  <div>
    {{#each characteristicsOdd}}
    {{> form_checkbox.hbs name = nombre}}
    {{/each}}
  </div>

  {{> upload_photo.hbs}}

{{/partial}}
{{> person_signup.hbs header = "¡Encontré una Mascota!"}}